<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Neurobiology's Blog</title>
</head>

<body>
    <nav id="navbar">
        <div class="nav-link">
            <a href="/">
                <img src="/images/logo.png" alt="logo og NeuroNews" width="20" height="20">
            </a>
            <a href="www.linkedin.com/in/rahmat-muflih-arifin-040a23144" target="_blank">
                [L] LINKEDIN
            </a>
            <a href="https://github.com/rahmatmuflih" target="_blank">
                [G] GITHUB
            </a>
            <a href="https://codepen.io/rahmatmuflih" target="_blank">
                [CO] CODEPEN
            </a>
            <a href="mailto:rahmatmufliha@gmail.com">
                [E] EMAIL
            </a>
        </div>
        <div class="nav-contact">
            <a href="/contact">[C] CONTACT</a>
        </div>
    </nav>