<%- include("partials/header.ejs") %>

    <h1 id="title-contact">Contact Me</h1>

    <form action="#" class="contact" id="contact">
        <label for="form">EMAIL</label>
        <input type="text" name="email" placeholder="name@example.com" autocomplete="email">
        <label for="contact">DESC</label>
        <textarea name="desc" id="desc"></textarea>
        <input type="submit" value="Submit">
    </form>

    <%- include("partials/footer.ejs") %>